<ul class="list-group" id="branches">
  <li class="list-group-item" title="Last updated 6 hours ago">
    <a href="#" class="btn btn-flat btn-success btn-xs pull-right">Deploy</a>
    <b>branch/name</b>
  </li>
  <li class="list-group-item" title="Last updated 6 hours ago">
    <a href="#" class="btn btn-flat btn-success btn-xs pull-right">Deploy</a>
    <b>branch/name</b>
  </li>
  <li class="list-group-item" title="Last updated 6 hours ago">
    <a href="#" class="btn btn-flat btn-success btn-xs pull-right">Deploy</a>
    <b>branch/name</b>
  </li>
  <li class="list-group-item" title="Last updated 6 hours ago">
    <a href="#" class="btn btn-flat btn-success btn-xs pull-right">Deploy</a>
    <b>branch/name</b>
  </li>
  <li class="list-group-item" title="Last updated 6 hours ago">
    <a href="#" class="btn btn-flat btn-success btn-xs pull-right">Deploy</a>
    <b>branch/name</b>
  </li>
  <li class="list-group-item" title="Last updated 6 hours ago">
    <a href="#" class="btn btn-flat btn-success btn-xs pull-right">Deploy</a>
    <b>branch/name</b>
  </li>
  <li class="list-group-item" title="Last updated 6 hours ago">
    <a href="#" class="btn btn-flat btn-success btn-xs pull-right">Deploy</a>
    <b>branch/name</b>
  </li>
  <li class="list-group-item" title="Last updated 6 hours ago">
    <a href="#" class="btn btn-flat btn-success btn-xs pull-right">Deploy</a>
    <b>branch/name</b>
  </li>
  <li class="list-group-item" title="Last updated 6 hours ago">
    <a href="#" class="btn btn-flat btn-success btn-xs pull-right">Deploy</a>
    <b>branch/name</b>
  </li>
</ul>
