<div class="page-header" id="banner">
  <div class="row">
    <div class="col-sm-7">
      <h1>Torque Deploy Manager</h1>
      <p class="lead">
        <b>15</b> branches, <b>25</b> pull requests, and <b>18</b> tags
      </p>
    </div>
    <div class="col-sm-5">
      <div class="well infobox">
        <h4>Current Deployed: <b>branch/name</b></h4>
        <p>
          Pull Request: <a href="#">#2 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
          <br><small>Deployed about 3 hours ago</small>
        </p>
      </div>
    </div>
  </div>
</div>
