<ul class="list-group" id="tags">
  <li class="list-group-item" title="Last updated 6 hours ago">
    <a href="#" class="success pull-right" title="Deploy">
      <i class="glyphicon glyphicon-upload"></i>
    </a>
    v0.1.0.rc12
  </li>
  <li class="list-group-item" title="Last updated 6 hours ago">
    <a href="#" class="success pull-right" title="Deploy">
      <i class="glyphicon glyphicon-upload"></i>
    </a>
    v0.1.0.rc12
  </li>
  <li class="list-group-item" title="Last updated 6 hours ago">
    <a href="#" class="success pull-right" title="Deploy">
      <i class="glyphicon glyphicon-upload"></i>
    </a>
    v0.1.0.rc12
  </li>
  <li class="list-group-item" title="Last updated 6 hours ago">
    <a href="#" class="success pull-right" title="Deploy">
      <i class="glyphicon glyphicon-upload"></i>
    </a>
    v0.1.0.rc12
  </li>
  <li class="list-group-item" title="Last updated 6 hours ago">
    <a href="#" class="success pull-right" title="Deploy">
      <i class="glyphicon glyphicon-upload"></i>
    </a>
    v0.1.0.rc12
  </li>
  <li class="list-group-item" title="Last updated 6 hours ago">
    <a href="#" class="success pull-right" title="Deploy">
      <i class="glyphicon glyphicon-upload"></i>
    </a>
    v0.1.0.rc12
  </li>
  <li class="list-group-item" title="Last updated 6 hours ago">
    <a href="#" class="success pull-right" title="Deploy">
      <i class="glyphicon glyphicon-upload"></i>
    </a>
    v0.1.0.rc12
  </li>
</ul>
