<div class="navbar navbar-warning" id="footer">
  <div class="container">
    <div class="navbar-collapse collapse">
      <p class="navbar-text navbar-right">
        Version <%= Torque::Deployer::VERSION %> - Powerd By Torque ©
      </p>
    </div>
  </div>
</div>
